# Required
SLAMSCAN_CLAMSCAN_BINARY_PATH=
SLAMSCAN_FRESHCLAM_BINARY_PATH=

# Optional
SLAMSCAN_CLAMSCAN_DB_BUCKET=
SLAMSCAN_CLAMSCAN_DB_PATH=
SLAMSCAN_CLAMSCAN_DEBUG_MODE=
SLAMSCAN_CLAMSCAN_TESTING_MODE=
SLAMSCAN_FRESHCLAM_CONFIG_PATH=
SLAMSCAN_RUN_SLS_TESTS=0
SLAMSCAN_SCAN_RESULT_SNS_ARN=
SLAMSCAN_SPACE_DELIMITED_SOURCE_BUCKETS=
SENTRY_DSN=
